
/*  
https://coolors.co/edd382-fc9e4f-f2f3d9-ce6c47-f4442e

	dark-purple: #241E4E;
	dark-red: #960200;
	dark-onionSkin: #CE6C47;
	yellow: #;
	dark-pink: #ED233C;
	orange: #F96900;
	begie: #EADAA2;
	brown: #8E6E53;
	brownie/gray: #433E3F;
	darker-purple: #2B2D42;
	dark-green: #255957;
	darker-blue: #030027;
	light-purple: #a2a9eb;
	lighter-blue/white: #f2f8fc;
	light-blue: #437C90;
	light-gray: #8D99AE;
	light-beige: #EEEBD3;
	light-brown: #C0B7B1;

 body{
	background: #a2a9eb;
	color: #f2f8fc;
}
 */


		/* Skip to the main content  */
		a.skip-main {
			left:-999px;
			position:absolute;
			top:auto;
			width:1px;
			height:1px;
			overflow:hidden;
			z-index:-999;
		}
		a.skip-main:focus, a.skip-main:active {
			color: #fff;
			background-color:#000;
			left: auto;
			top: auto;
			width: 30%;
			height: auto;
			overflow:auto;
			margin: 10px 35%;
			padding:5px;
			border-radius: 15px;
			border:4px solid #fff;
			text-align:center;
			font-size:1.2em;
			z-index:999;
		}

		/* Screen Reader Only  */
		.sr-only {
		  position: absolute;
		  width: 1px;
		  height: 1px;
		  padding: 0;
		  margin: -1px;
		  overflow: hidden;
		  clip: rect(0,0,0,0);
		  border: 0;
		}

		/* Global styles
		------------------------  */
		html{
			box-sizing: border-box;
		}
/* 		*, *:before, *:after{
			box-sizing: inherit;
		} */
		body{
			background: #EBEFC3;
			font-family: 'Aleo', serif;
			font-size: 1.2em;
			line-height: 180%;
			margin: 0px auto 30px;
		}		
		h1, h2{
			color: #ff2020;
			font-family: 'Caveat Brush', cursive;
		}
		h1{
			text-transform: uppercase; 
			letter-spacing: 4px;
			font-size: 45px;
			font-weight: 600;
		}
		h2{
			font-size: 35px;
		}
		h3{
			color: #504a1f;
			letter-spacing: 2px;
		}
		/*  Anchore Tags */
		a{
			margin: 10px;
			padding: 10px;
			background: #c60f24;
			color: #fff;
			text-decoration: none;
		}
		a:hover,
		a:visited{
			color: yellow;
		}
		/* link has been click on already */
		a:visited{ 
			font-weight: bold;
		}
		/* moment the link is clicked on */
		a:active{ 
			border: 1px solid black;
		}
		a:focus, input:focus{
			outline: 3px solid blue;
		}
		.content-wrap{
			max-width: 80%;
			margin: 0 auto;
			padding: 25px;
			overflow: auto;
		}
		hr {
			display: block;
			height: 1px;
			/* border: 0; */
			border-top: 10px solid #ff8000;
			margin: 1em 0;
			padding: 0; 
			max-width: 60%;
		}
		 ul{
			list-style: none;
		}
		.experiences ul li{
		}
		ul li:before {    
			font-family: 'FontAwesome';
			content: '\f00c';
			color: #6dab0f; 
			margin: 1.5em 10px;
			font-size: 1.2em;
		}
		.experiences hr{
			margin-left: 200px;
		}
		.col-narrow{
			width: 35%;
		}
		.col-half{
			width: 50%;
		}
		.col-wide{
			width: 75%;
		}
		.float-right{
			float: right;
		}
		.float-left{
			float: left;			
		}
		/* Header 
		------------------------  */
		header{
			/* background: #2B2D42; */
			color: #EDF2F4;
			position: relative;
		}
		nav{
			width: 100%;
			background: #EBEFC3;
			text-align: center;
		}
		.topnav {
		    overflow: hidden;
		}
		nav .icon {
		    display: none;
		}
		nav a{
			display: inline-block;
			width: 15%;
			margin: 5px auto;
			padding: 0px 10px;
			border: 2px solid white;
			border-radius: 15px;
			text-align: center;
		}
		/* Audio 
		------------------------  */
		.audio{
			display: none;
		}
		
		/* Video 
		------------------------  */
		#myVideo {
			position: absolute;
			min-width: 100%; 
			z-index: 0;
		}


		
		/* Profile
		------------------------  */
		#profile{
			z-index: 999;
		}
		.profilePhoto{
			border-radius: 75px;
			border: 5px solid black;
			margin-top: -100px;
			margin-bottom: -20px;
		}
		.downloadLink{
			display: inline-block;
			margin-top: 60px;
			margin-left: 0;
			border-radius: 15px;
			border: 3px solid white;
			z-index: 100;
		}
		
		/* Skills
		------------------------  */

		/* Work Experience
		------------------------  */
		table tr > td{
			padding: 20px;
		}
		table tr td:first-child{
			font-weight: 600;
		}
		.tools{
			max-width: 85%;
			padding: 30px;
			margin-left: 70px;
			text-align: justify;
		}
		.tools span{
			font-weight: 600;
		}
		/* Education
		------------------------  */
		.education{
			background: #2B2D42;
			padding:50px;
			margin: -18px auto -30px;
		}
		.education h3{
			color: #EDF2F4;
			margin-top: 80px;
		}
		.education h3:first-of-type{
			margin-top: 30px;
		}
		.education p{
			color: #9a9a9a;
		}
		.gpa{
			color: #EF233C;
			font-size: 1.3em;
			font-weight: 800;
		}
		.date{
			float: right;
		}
		.date:after {
		   content: " "; /* Older browser do not support empty content */
		   visibility: hidden;
		   display: block;
		   height: 0;
		   clear: both;
		}

		/*  Footer
		------------------------  */
		footer{
			background: #1e1f2e;
			color: #8D99AE;
			text-align: center;
			margin: -18px auto;
			padding: 30px;
			padding-bottom: 3px;
		}

		/* Contact info
		------------------------  */
		.contact{
			text-align: center;
			background: linear-gradient(rgba(151,249,155, 0.4), rgba(254,126,210, 0.6)), url(../img/Flower-1.JPG) no-repeat fixed;
			background-size: cover;
		}
		.contact a {
			display: inline-block;
			margin-top: 5px;
			padding: 10px 12px 7px 12px;
			border: 3px solid white;
			border-radius: 15px;
		}
		.copyRight{
			margin-top: 200px;
			padding-bottom:5px;
			font-size: .8em;
			text-align: center;
			color: black;
			font-weight: 900;
		}
		
	/* Floating Back-To-Top Button
		------------------------  */ 
    #myBtn,
	#myBtn:hover{
        position: fixed;
		display: none;
        bottom: 25px;
        right: 2%;
        font-size: 14px;
	    border-radius: 12px;
		border: 3px solid white;
    }

	/* Media Queries
		------------------------  */ 				
		@media (max-width: 768px){
			body{
				line-height: 2em;
			}
			.content-wrap {
				padding: 5px;
			}
			nav{
				max-width: 60%;
				margin-top: 10px;  
				margin-bottom: 10px;
				margin-left: 20%; 
			}
			nav a:not(:last-child){
				display: none;
				background: #c60f24;
				padding: 5px;
			}
			nav a.icon {
				float: right;
				background: #2B2D42;
				margin-right: 5%;
				display: block;
				padding: 10px;
				margin-bottom: 20px;
			}
			.topnav.responsive {position: relative;}
			.topnav.responsive .icon {
				position: absolute;
				right: 0;
				top: 0;
			}
		    .topnav.responsive a:not(:last-child) {
				float: none;
				width: 90%;
				display: block;
			}
/* 			nav a{
				display: block;
				width: 90%;
				min-width: 30%;
				margin-bottom: 10px;
			    padding: 10px;
			} */
			h1, h2, h3, h4, p{
				text-align: center;
			}
			#content{
				position: relative;
				top: 0%;
				width: 60%;
				margin: 55px 20%;
				padding-top: 5px;
				color: #000;
				background: #EBEFC3;
				text-align: center;
				z-index: 1000 !important;
			}
			.downloadLink{
				margin: 20px auto; 
				width: 90%;
			}
			.profilePhoto {
				width: 95%;
				margin-top: 0px;
			    margin-bottom: 20px;
			}
			ul li{
				margin:0 0 30px 0;   
			}
			table tr > td{
				padding: 5px;
			}
			.education {
				padding: 5px;
			}
			.tools{
				padding: 5px;
				margin-left: 10px;
				text-align: left;
			}
			.float-left,
			.float-right{
				float: none;
			}
			.date{
				float: none;
			}
		}
		
		@media (max-width: 1024px){
		}